@import url(../config.css);

/* ---------- PG1 ---------- */
#pg1 {
    padding: 96px 16px 64px;
    background-color: #4065CF;
    color: #FFFFFF;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
#lado-esquerdo-pg1 {
    max-width: 500px;
}

#h1-01-pg1 {
    font-size: 36px;
    margin-bottom: 20px ;
}

#span-01-pg1 {
    color: var(--cor-laranja);
}

#p-01-pg1 {
    margin-bottom: 20px;
}

#section-01-pg1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


/* ícones e divisões */
#div-01-pg1, #div-02-pg1, #div-03-pg1 {
    display: flex;
    align-items: center;
    gap: 10px;
}

#svg-pg1 {
    color: var(--cor-laranja);
}

/* botões */
#buttons-pg1 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.a-pg1 {
    text-decoration: none;
}

/* estilos comuns de botão */
#button-telefone-pg1,
#button-servicos-pg1 {
    text-align: center;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid white;
    font-size: 18px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.178);
}

/* cores específicas */
#button-telefone-pg1 {
    background-color: var(--cor-laranja);
    color: white;
    gap: 10px;

}

#button-servicos-pg1 {
    background-color: var(--cor-Branco-Original); 
    color: #4065CF;
}

#img-01-pg1 {
    max-height: 300px;
    max-width: 533px;
    border-radius: 30px;
}

