@import url(../config.css);

#pg2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    background-color: #ffffff;
    padding: 30px 16px;
}
#leyout-serviços {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.leyout-serviços-template{
    max-width: 400px;
    background-color: hsl(0, 0%, 99%);
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.167);
}
.leyout-serviços-template-txt {
    text-align: center;
    margin-bottom: 30px;
}
#h2-pg2 {
    font-size: 48px;
}
#p-pg2 {
    font-size: 20px;
    max-width: 700px;
    text-align: center;
}
.h3-pg2 {
    font-size: 20px;
    margin-bottom: 10px;
}
.ul-pg2 {
    font-size: 18px;
    margin-left: 5px;
}
.li-pg2::marker {
    color: var(--cor-laranja); /* cor da bolinha */
}
.alinha-alemento-pg2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.circolo-pg2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(204, 204, 204);
    border-radius: 100px;
    color: blue;
}