@import url(../config.css);

#pg4 {
  background-color: white;
}

#alinhamento-1400px-conteudo-pg4 {
  max-width: 1400px;
  margin: auto;


  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 16px;
}

#lado-esquerdo-pg4 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 650px;
}

#h2-01-pg4 {
  font-size: 48px;
  line-height: 1.2;
}

#h2-01-pg4 > span {
  color: var(--cor-laranja);
}

#div-comentario-pg4 {
  background: rgb(246, 246, 246);
  padding: 24px;
  border-radius: 15px;
  border-left: 5px solid var(--cor-laranja);
  font-size: 12px;
}

#p-name-pg4 {
  color: #65758b;
  margin-top: 10px;
}

#lado-direito-pg4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colunas iguais */
  grid-template-rows: repeat(2, 1fr);    /* 2 linhas iguais */
  gap: 20px;
}

#lado-direito-pg4 > section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 314px;
  background: #fff;
  padding: 24px;
  text-align: center;
  gap: 10px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

/* 🔥 Agrupando flex-center */
.div-01-pg4 {
  display: flex;
  justify-content: center;
  align-items: center;
}


.div-01-pg4 {
  background: rgb(191, 191, 191);
  padding: 15px;
  border-radius: 30px;
  color: #4065CF;
  background-color: #4066cf2e;
}

.p-01-pg4 { font-size: 30px; }
.p-02-pg4 { font-size: 14px; }
.p-03-pg4 { font-size: 12px; }


@media (max-width: 480px) {
  #h2-01-pg4 {
    font-size: 40px;
    line-height: 1.2;
  }
}
@media (max-width: 400px) {
  #h2-01-pg4 {
    font-size: 30px;
    line-height: 1.2;
  }
}