@import url(../config.css);

#pg6 {
    max-width: 1400px;
    margin: auto;
    padding: 0px 16px 30px 16px;
    display: flex;
    justify-content: center;
    gap: 20px;
    border-bottom: 1px solid #ffffffcc ;
}
.div-templeat-pg6 {
    width: 30%;
    display: flex;
    flex-direction: column;
    color: #ffffffcc;
    padding: 10px;
}
#Name-principal-02 {
    color: white;
}
#links-pg6 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0px;
}
#links-pg6 > a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #ffffffcc;
}
@media (max-width: 900px){
    #pg6 {
        flex-direction: column;
    }
}