@charset "UTF-8";
/*CONFIGURAÇÕES PARA AS CORES DE CADA FONTE, TAMNHO, E TIPOLOGIGA*/



/* ---------- CONFIGURAÇÕES GLOBAIS ---------- */
* {
  margin: 0px;           /* Remove margens padrão do navegador */
  padding: 0px;         /* Remove preenchimento padrão do navegador */
  scroll-behavior: smooth;
  box-sizing: border-box; /* Faz com que padding e border não ultrapassem a largura dos elementos */
}