@import url(config.css);

footer {
    padding: 5px 30px 20px 30px;
    color: #FFFFFFCC;
}
footer > address {
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
address > small {
    background-color: red;
}
.link-footer {
    background-color: hsla(0, 0%, 100%, 0.101);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 100px;
    color: #FFFFFFCC;
}
#div-01-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


@media (max-width: 730px) {
    footer > address {
        flex-direction: column;
        justify-content: center;
    }
    address > small {
        margin-bottom: 10px;
    }
}